{% extends 'base.html.twig' %}
{% form_theme formBelong 'bootstrap_4_layout.html.twig' %}

{% block title %}Formulaire d'ajout de l'article{% endblock %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>Quel quantité de l'article {{ article.label}} voulez vous ajouter au stock de {{ stock.label }} ?</h1>
    </div>

    <div class="container">

        {{ form_start(formBelong) }}

            {{ form_widget(formBelong) }}

            <button class="btn btn-primary mt-4">{{ button|default('Ajouter au stock') }}</button>

        <a href="{{ path('admin.stock.inspect.addArticle', {id: stock.id}) }}" class="btn btn-dark mt-4" style="display: inline-block">Annuler</a>
        
        {{ form_end(formBelong) }}

    </div>

{% endblock %}
