{% extends 'base.html.twig' %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block title %}Modifier article{% endblock %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>Modifier l'article {{ article.ref }}</h1>
    </div>

    <div class="container-fluid">
        {{ form_start(formArticle) }}

        {{ form_row(formArticle.label) }}

        {{ form_row(formArticle.price) }}

        {{ form_row(formArticle.ref) }}

        <button class="btn btn-primary mt-4">{{ button|default('Enregistrer') }}</button>

        {{ form_end(formArticle) }}
    </div>





{% endblock %}
